.like{
    display: flex;
    justify-content: flex-start !important;
    gap: 10px;
}

.like img{
    height: 15px;
    width: 15px;
    object-fit: contain;
    object-position: center top;
}

.like button{
    border: none;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #DDDDDD;
    margin: 0;
    background: #0E0E1B;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}