.feedbacks{
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    gap: 25px;
}

.feedbacks figure{
    margin: 0;
}
.feedbacks figure img{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.container{
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.content{
    width: 100%;
    background-color: rgb(21, 21, 46);
    padding: 11px 20px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:29px;
}

.content div{
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
}

.content div h2{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    margin: 0;
}

.content div h3{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #999999;
}

.content p{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    margin: 0;
    color: #FFFFFF;
}

.like{
    display: flex;
    justify-content: flex-start !important;
    gap: 10px;
}

.like img{
    height: 15px;
    width: 15px;
    object-fit: contain;
    object-position: center top;
}

.like p{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #DDDDDD;
    margin: 0;
}